@model IEnumerable<Mysys.Models.Collection>

@{

    ViewData["Title"] = "Index";
}

<main role="main">
     <p>
                

    <div class="album py-5 bg-light">

        <div class="container">

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@item.ImageURL" data-holder-rendered="true">
                            <div class="card-body">
                                <h4>@item.Name</h4>
                                 
                                <small>@item.Theme</small>
                             
                                <hr align="center" color="grey" />
                                <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary" onclick="location.href='@Url.Action("Details", "Home", new { id = item.Id})'">View</button>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
                 
            </div>
        </div>

    </div>
</main>