@model Mysys.Models.Collection

@{
    ViewData["Title"] = "Details";
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div id="PlaceHolderHere"></div>
<button type="button" class="btn btn-outline-secondary "  data-toggle="ajax-modal" data-target="#addItem" data-url="@Url.Action("CreateItem", new {  id = Model.Id })"><i class="fa fa-plus"></i></button>
 
<main role="main">


    <p>


        <div class="album py-5 bg-light">

            <div class="container">

                <div class="row">
                    @foreach (var item in Model.Items)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@item.ImageURL" data-holder-rendered="true">

                                <div class="card-body">
                                    <h3 class="card-text">@item.Name</h3>
                                    <hr align="center" color="grey" />
                                     <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                                    @foreach(var r in Model.Tags.Where(m=>m.ItemId==item.Id))
                                    {
                                       string[] subs = r.Content.Split(' ');
                                       foreach(var t in subs)
                                        {
                                            <button type="button" class="btn btn-outline-secondary">#@t</button>
                                        }
                                    }
                                    </p>
                                     <hr align="center" color="grey" />

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Details", "DetailsItem", new { id = item.Id })</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Delete", "DeleteItem", new { id = item.Id }, new { @class = "compItem" })</button>
                                        </div>
                                        <small class="text-muted">@item.UserName</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://firebasestorage.googleapis.com/v0/b/mysys-e8594.appspot.com/o/images%2Ffgh.png?alt=media&token=5e7c59db-d9b2-4485-b0fc-c05a5b7bac84" data-holder-rendered="true">

                            <div class="card-body">
                                <h3 class="card-text" >Sample Name</h3>


                                <hr align="center" color="grey" />

                                 <small class="text-muted">Sample UserName</small>
                                <div id="PlaceHolderHere"></div>
                                 
                                <button type="button" class="btn btn-outline-light stretched-link btn-block" data-toggle="ajax-modal" data-target="#addItem" data-url="@Url.Action("CreateItem", new {  id = Model.Id })">Add item </button>
                                
                               


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</main>
@section scripts
{
<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });
       $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
}
