@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<div class="text-center">
    @using (Html.BeginForm("Submit", "Users", FormMethod.Post))
    {
<div class="btn-group col-md-auto offset-md-12" role="group" aria-label="Basic example">
    <button class="btn btn-secondary btn-icon" type="submit" value="Delete" name="action">
        <span class="icon"><i class="fa-solid fa-skull-crossbones"></i></span> Delete
    </button>
    <button class="btn btn-secondary btn-icon" type="submit" value="Block" name="action">
        <span class="icon"><i class="fa-solid fa-heart-circle-xmark"></i></span> Block
    </button>
    <button class="btn btn-secondary btn-icon" type="submit" value="Unblock" name="action">
        <span class="icon"><i class="fa-solid fa-heart-circle-check"></i></span> Unblock
    </button>
    <button class="btn btn-secondary btn-icon" type="submit" value="Admin" name="action">
        <span class="icon"><i class="fa fa-thumbs-up"></i></span> Admin
    </button>
    <button class="btn btn-secondary btn-icon" type="submit" value="deAdmin" name="action">
        <span class="icon"><i class="fa fa-thumbs-down"></i></span> deAdmin
    </button>
</div>
 <br>
                <table class=" table table-bordered">
                    <thead>
                        <tr>

                            <th>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="1" onClick="toggle(this)" name="user">
                                    <label class="custom-control-label" for="1"></label>
                                </div>
                                <script>
                                    function toggle(source) {
                                        checkboxes = document.getElementsByName('user');
                                        for (var i = 0, n = checkboxes.length; i < n; i++) {
                                            checkboxes[i].checked = source.checked;
                                        }
                                    }
                                </script>
                            </th>
                            <th>Id</th>
                           
                           
                            <th>e-mail</th>
                            <th>role</th>
                        
                        
                            <th>Status</th>
                        </tr>
                    </thead>
                    @foreach (var user in UserManager.Users.ToList())
                    {
    <tbody>
        <tr>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" value="@user.Id" id="@user.Id" name="user">
                    <label class="custom-control-label" for="@user.Id"></label>
                </div>

            </td>
            <td>@user.Id</td>
           
            <td>@user.Email</td>
            
                        @if (user.RoleId=="1")
                        {
                            <td>Admin</td>
                        }
                        else
                        {
                             <td>User</td>
                        }
                        <td>@user.Status</td>
        </tr>
    </tbody>}
                </table>}
</div>